body{
  background: #000;
  color:white;
}
.rect{
  visibility: hidden;
  background: green;
  width:30%;
  padding-top: 30%;
  margin:1.667%;
  float: left;
}
.container{
margin: 0 auto;
max-width: 40%;
}
h1{
  color:white;
  text-align: center;
}
#decorate{
  text-align: center;
}
.level{
  margin: 5px;
}
